{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}
{% block stylesheets %}
<style>
    .content {
        display: inline;
        margin: 0 auto;
        padding-top: 80px;
        vertical-align: baseline;
    }
    html, body, .container {
        height: auto;
    }
    h1 {
        color:white;
        font-size: 150px;
    }
    .centered {
        position: fixed; /* or absolute */
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}
    {% block navigation %}
        <nav class="navbar navbar-light bg-info">
            <span class="navbar-brand mb-0 h1 text-white">Videoteka TVZ</span>
            <div class="float-right">
                <span class="navbar-brand mb-0 h1"><a class="navbar-brand text-white" href="{{ path('movie_index') }}">Movies</a></span>
                <span class="navbar-brand mb-0 h1"><a class="navbar-brand text-white" href="{{ path('app_logout') }}">Logout</a></span>
            </div>
        </nav>
    {% endblock %}
{% block body %}

    <section class="content centered">
        <h1>Welcome</h1>
    </section>

{% endblock %}
