{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .container{
        background-color: white;
    }
</style>
{% endblock %}

{% block title %}Movie index{% endblock %}
{% block navigation %}
    <nav class="navbar navbar-light bg-info">
        <span class="navbar-brand mb-0 h1 text-white"><a class="navbar-brand text-white" href="{{ path('homepage_index') }}">Videoteka TVZ</a></span>
        <div class="float-right">
            <span class="navbar-brand mb-0 h1"><a class="navbar-brand text-white" href="{{ path('movie_index') }}">Movies</a></span>
            <span class="navbar-brand mb-0 h1"><a class="navbar-brand text-white" href="{{ path('app_logout') }}">Logout</a></span>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container">
    <h1>Movie index</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfRelease</th>
                <th>Runtime</th>
                <th>Director</th>
                <th>Actors</th>
                <th>Plot</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.yearOfRelease }}</td>
                <td>{{ movie.runtime }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.actors }}</td>
                <td>{{ movie.plot }}</td>
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movie_new') }}">Create new</a>
    </div>
{% endblock %}
