{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
    {% block navigation %}
        <nav class="navbar navbar-light bg-info">
            <span class="navbar-brand mb-0 h1">Videoteka TVZ</span>
        </nav>
    {% endblock %}
{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
